[user]
  email = [EMAIL]
  name = [NAME]
[core]
	editor = vim
[alias]
  co = checkout
  st = status
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
  unstage = restore --staged
[push]
  default = current
